/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  font-family: 'Microsoft Yahei';
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 105, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 34, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 118, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
html,
body,
.main_wrapper {
  height: 100%;
}

/* line 19, ../sass/screen.scss */
.main_wrapper {
  position: relative;
  min-width: 1275px;
  overflow-x: auto;
}

/* line 24, ../sass/screen.scss */
.header {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 56px;
  height: 56px;
  background: url(../images/header_bg.png) no-repeat top left;
  background-size: cover;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}
/* line 35, ../sass/screen.scss */
.header h1 {
  float: left;
  font-size: 28px;
  padding-left: 85px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 1px 6px #666;
  background: url(../images/logo.png) no-repeat 37px 11px;
  background-size: 36px 36px;
}
/* line 45, ../sass/screen.scss */
.header .btn_list {
  float: right;
}

/* line 50, ../sass/screen.scss */
.btn_list li {
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
}
/* line 54, ../sass/screen.scss */
.btn_list li button {
  padding: 4px 16px;
  cursor: pointer;
  font-size: 14px;
  border: 0;
  background: url(../images/nav_bg_normal.png) center no-repeat;
  background-size: contain;
  color: #23638c;
  outline: 0;
}
/* line 63, ../sass/screen.scss */
.btn_list li button:hover {
  color: #3595d2;
}
/* line 66, ../sass/screen.scss */
.btn_list li button:active {
  color: #23638c;
  background-image: url(../images/nav_bg_pressed.png);
}
/* line 71, ../sass/screen.scss */
.btn_list li ul {
  margin: 0 43px 0 30px;
}
/* line 73, ../sass/screen.scss */
.btn_list li ul li {
  margin-right: 22px;
}
/* line 75, ../sass/screen.scss */
.btn_list li ul li img {
  cursor: pointer;
  vertical-align: middle;
}

/* line 83, ../sass/screen.scss */
.left_munu_bar {
  float: left;
  padding-top: 56px;
  height: 100%;
  width: 170px;
  overflow-y: auto;
  color: #fff;
  font-size: 14px;
}
/* line 91, ../sass/screen.scss */
.left_munu_bar li {
  cursor: pointer;
}
/* line 94, ../sass/screen.scss */
.left_munu_bar li + li {
  border-top-width: 1px;
  border-style: solid;
}
/* line 98, ../sass/screen.scss */
.left_munu_bar .ul_level_1 {
  height: 100%;
  overflow: auto;
  background-color: #318bb6;
}
/* line 102, ../sass/screen.scss */
.left_munu_bar .ul_level_1 > li {
  line-height: 46px;
  border-color: #0b6c9a;
}
/* line 105, ../sass/screen.scss */
.left_munu_bar .ul_level_1 > li > span {
  display: inline-block;
  width: 100%;
  padding-left: 14px;
  background: url(../images/retract.png) no-repeat 148px center;
}
/* line 110, ../sass/screen.scss */
.left_munu_bar .ul_level_1 > li > span.active {
  background-image: url(../images/drop_down.png);
}
/* line 117, ../sass/screen.scss */
.left_munu_bar .ul_level_2 > li {
  line-height: 36px;
  padding-left: 28px;
  border-color: #2a80a9;
}
