@charset "utf-8";

/*业务统计*/
.JobTongBox {
    overflow: hidden;
    border-top: 0;
}
.JobTong_Item_Main {
    margin: 6px auto;
}
.Job_Item_title h5 {
    font-size: 14px;
    height: 24px;
    line-height: 20px;
}

.WriteBgBox .active {
    border-bottom: 0;
}
.WriteBgBox .active a {
    color: #2c96c0;
}
.Job_Item_titleLine {
    display: block;
    width: 100%;
    height: 2px;
    background-image: -webkit-gradient(
        linear,
        right top,
        left top,
        from(#f4f4f4),
        to(#dedede)
    );
    background-image: linear-gradient(-90deg, #f4f4f4 0%, #dedede 100%);
    /*background:url(../images/img_title_bg.png) no-repeat;*/
    border-radius: 2px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#f4f4f4',GradientType=1 );
}
.JobTong_ConBox {
    position: relative;
}
.Job_Item_Ol {
    height: 215px;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.Job_Item_Ol li {
    display: inline-block;
    list-style-type: disc;
    position: relative;
    margin: 2px 0;
    font-size: 12px;
    line-height: 20px;
    width: 49%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 50px 0 7px;
    cursor: pointer;
}
.Job_Item_Ol li:hover * {
    color: #018efb !important;
}
.Job_Item_Ol li:nth-child(even) {
    float: right;
}
.Job_Item_Ol li:nth-child(odd) {
    clear: both;
}
.Job_Item_Ol li:hover {
    color: #018efb;
}
.Job_Item_Ol li:hover em {
    color: #404d51;
}
.Job_Item_Ol li span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}


/* 新的修改2018-9-20 */
.WriteBgBox > ul {
    box-sizing: border-box;
    font-size: 0;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 6px;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.WriteBgBox > ul > li {
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
    display: inline-block;
    width: 16.667%;
    text-align: center;
}
.WriteBgBox > ul a {
    display: inline-block;
    width: 100%;
    color: #000;
    text-decoration: none;
    line-height: 34px;
}
.WriteBgBox > ul a:hover {
    background-color: #f8f8f8;
}
.WriteBgBox > ul li + li {
    border-left: 1px solid #dedede;
}
