<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <template  v-if="type==='name'">
            <label>用户名</label>
            <input placeholder="输入用户名" key="name-input">
        </template>
        <template v-else>
            <label>邮箱</label>
            <input placeholder="输入邮箱" key="mail-input">
        </template>
        <button @click="handleToggleClick">切换输入类型</button>
        <ul>
            <li v-for="n in 20">{{ printList(n) }}</li>
        </ul>
        <button @click="test($event)">默认参数</button>
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                type:"name"
            },
            methods:{
                handleToggleClick:function(){
                    this.type = this.type === "name" ? "mail":"name";
                },
                printList:function (n) {
                    return n*n
                },
                test:function(e){
                    console.log(e);
                }
            },
            computed:{
            }


        })
    
    </script>

</body>

</html>